
.name {
	font-family: 'Galada', cursive;
	text-transform: none;
	word-spacing: normal;
	font-size: 24px;
}

.main-img {
	border-radius: 200px;
	width: 500px;
}

.navbar-brand {
	font-family: 'Galada', cursive;
	text-transform: none;
	color: red;
}


input:hover, textarea:hover, input:active, textarea:active{
	border: 1px solid #2C3E50;
}

