/* MEDIA QUERY 980 */

@media screen and (min-width: 769px) and (max-width: 980px) {

	main {
		padding-top: 10px;
		width: 100%;
		margin: auto;
	}

	#main-content-box {
		width: 65%;
		float: left;
		margin-bottom: 50px;
		padding: 15px 0px 25px 0px;
		background-color: #ffffff;
		border: 1px solid #A9A9A9;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		display: inline-block;
	}

	aside {
		float: right;
		width: 30%;
		margin: 0px auto;
		border: 1px solid #A9A9A9;
		background-color: #ffffff;
		display: inline-block;
	}


	header {
		height: 50px;
		width: auto;
		background-color: #ffffff;
		border-bottom: 5px #A9A9A9 solid;
		}

	#inner-header {
		width: auto;
		padding-right: 10px;
	}

	#nav {
		float: right;
		font-size: 16px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #696969;
		word-spacing: 30px;
		margin-top: 15px;
		margin-left: 60px;
	}

	li {
		display: inline-block;
	}

	footer {
		padding-top: 20px;
		clear: both;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;	
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		background-color: #A9A9A9;
		border-top: 9px #4aaaa5 solid;
	}

     #paragraph {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 50px;
		padding-right: 20px;
		line-height: 2.5;
	}

	#profile-img {
		float: left;
		border: 1px solid black;
		width: 95%;

	}

}

  /* MEDIA QUERY 768 */

@media screen and (min-width: 641px) and (max-width: 768px) {

	main {
		padding-top: 10px;
		width: 100%;
		margin: auto;
	}

	#main-content-box {
		width: 95%;
		float: left;
		margin: 0px 3%;
		padding: 15px 0px 25px 0px;
		background-color: #ffffff;
		border: 1px solid #A9A9A9;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		display: inline-block;
	}

	aside {
		float: left;
		width: 95%;
		margin: 10px 3%;
		border: 1px solid #A9A9A9;
		background-color: #ffffff;
		display: inline-block;
	}


	header {
		height: 50px;
		width: auto;
		background-color: #ffffff;
		border-bottom: 5px #A9A9A9 solid;
		}

	#inner-header {
		width: auto;
		padding-right: 10px;
	}

	#nav {
		float: right;
		font-size: 16px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #696969;
		word-spacing: 30px;
		margin-top: 15px;
		margin-left: 60px;
	}

	li {
		display: inline-block;
	}

	footer {
		padding-top: 20px;
		clear: both;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;	
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		background-color: #A9A9A9;
		border-top: 9px #4aaaa5 solid;
	}

	#paragraph {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 50px;
		padding-right: 20px;
		line-height: 1.5;
	}

	#profile-img {
		float: left;
		margin-right: 10px;
		border: 1px solid black;
		width: 200px;

	}

}


/* MEDIA QUERY 640 */

@media screen and (min-width: 400px) and (max-width: 640px) {

main {
		padding-top: 10px;
		width: 100%;
		margin: auto;
	}

	#main-content-box {
		width: 100%;
		float: left;
		margin: 0 auto;
		padding: 15px 0px 25px 0px;
		background-color: #ffffff;
		border: 1px solid #A9A9A9;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		display: inline-block;
	}

	aside {
		float: left;
		width: 100%;
		margin: 10px auto;
		border: 1px solid #A9A9A9;
		background-color: #ffffff;
		display: inline-block;
	}


	header {
		height: 100px;
		width: 100%;
		background-color: #ffffff;
		border-bottom: 5px #A9A9A9 solid;
		}


	#inner-header {
		width: 100%;
		height: 100px;
		padding-right: 0px;
	}

	#name {
		background-color: #4aaaa5;
		width: 100%;
		height: 40px;
		padding-top: 10px;
		font-size: 26px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		color: #ffffff;

}

	#nav {
		font-size: 16px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #696969;
		word-spacing: 20px;
		width: 100%;
		height: 40px;
		text-align: center;

	}

	li {
		display: inline;
	}

	footer {
		padding-top: 20px;
		clear: both;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;	
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		width: 100%;
		background-color: #A9A9A9;
		border-top: 9px #4aaaa5 solid;
	}


     #paragraph {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 50px;
		padding-right: 20px;
		line-height: 1.5;
	}

	#profile-img {
		float: left;
		margin-right: 10px;
		width: 93%;
		border: 1px solid black;
	}

  }