/* MEDIA QUERY 980 */

@media screen and (max-width: 980px) {
     
    body {
        background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');
     }

	main {
		padding-top: 10px;
		width: 910px;
		height: 675px;
		margin: auto;
	}

	#main-content-box {
		width: 630px;
		float: left;
		margin-bottom: 50px;
		padding: 15px 0px 25px 0px;
		background-color: #ffffff;
		border: 1px solid #A9A9A9;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		display: inline-block;
	}

	aside {
		float: right;
		width: 270px;
		margin: 0px auto;
		border: 1px solid #A9A9A9;
		background-color: #ffffff;
		display: inline-block;
	}


	header {
		height: 50px;
		width: auto;
		background-color: #ffffff;
		border-bottom: 5px #A9A9A9 solid;
		}

	#inner-header {
		width: auto;
		padding-right: 10px;
	}

	#nav {
		float: right;
		font-size: 16px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #696969;
		word-spacing: 30px;
		margin-top: 15px;
		margin-left: 60px;
	}

	li {
		display: inline-block;
	}

	footer {
		padding-top: 20px;
		clear: both;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;	
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		background-color: #A9A9A9;
		border-top: 9px #4aaaa5 solid;
	}


			.img-containers {
		    display: block;
		    padding: 10px
		}

		.gallery-img {
			width: 100%;
		}

		#img-box {
			padding-left: 5px;
		}

		#inner-img-box {
			width: 500px;
			margin: auto;
		}

		.img-labels {
			position: absolute;
			margin-top: 250px;
			height: 55px;
			width: 480px;
			background-color: #4aaaa5;
			padding-top: 20px;
			font-size: 35px;
			font-family: 'Georgia', Times, Times New Roman, serif;
			color: #ffffff;
			text-align: center;
		}

  /* MEDIA QUERY 768 */

@media screen and (max-width: 768px) {
     
     body {
        background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');
     }

	main {
		padding-top: 10px;
		/*padding-left: 5px;*/
		width: 700px;
		height: 750px;
		margin: auto;
	}

	#main-content-box {
		width: 700px;
		height: auto;
		float: left;
		margin: 0 auto;
		padding: 15px 0px 25px 0px;
		background-color: #ffffff;
		border: 1px solid #A9A9A9;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		display: inline-block;
	}

	aside {
		float: left;
		width: 700px;
		margin: 10px auto;
		border: 1px solid #A9A9A9;
		background-color: #ffffff;
		display: inline-block;
	}


	header {
		height: 50px;
		width: auto;
		background-color: #ffffff;
		border-bottom: 5px #A9A9A9 solid;
		}

	#inner-header {
		width: auto;
		padding-right: 10px;
	}

	#nav {
		float: right;
		font-size: 16px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #696969;
		word-spacing: 30px;
		margin-top: 15px;
		margin-left: 60px;
	}

	li {
		display: inline-block;
	}

	footer {
		padding-top: 20px;
		clear: both;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;	
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		background-color: #A9A9A9;
		border-top: 9px #4aaaa5 solid;
	}

/*		.img-containers {
		    display: block;
		    padding: 10px
		}

		.gallery-img {
			width: 100%;
		}

		#img-box {
			padding-left: 5px;
		}

		#inner-img-box {
			width: 500px;
			margin: auto;
		}

		.img-labels {
			position: absolute;
			margin-top: 250px;
			height: 55px;
			width: 480px;
			background-color: #4aaaa5;
			padding-top: 20px;
			font-size: 35px;
			font-family: 'Georgia', Times, Times New Roman, serif;
			color: #ffffff;
			text-align: center;
		}*/

}




/* MEDIA QUERY 640 */

@media screen and (max-width: 640px) {
     
     body {
        background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');
     }

	main {
		padding-top: 10px;
		width: 610px;
		height: 750px;
		margin: auto;
	}

	#main-content-box {
		width: 610px;
		height: 2000px;
		float: left;
		margin: 0 auto;
		padding: 15px 0px 25px 0px;
		background-color: #ffffff;
		border: 1px solid #A9A9A9;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		display: inline-block;
	}

	aside {
		float: left;
		width: 610px;
		margin: 10px auto;
		border: 1px solid #A9A9A9;
		background-color: #ffffff;
		display: inline-block;
	}


	header {
		height: 100px;
		width: 100%;
		background-color: #ffffff;
		border-bottom: 5px #A9A9A9 solid;
		}

	#inner-header {
		width: 100%;
		height: 100px;

	}

	#name {
		background-color: #4aaaa5;
		width: 100%;
		height: 40px;
		padding-top: 10px;
		font-size: 26px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		color: #ffffff;

}

	#nav {
		font-size: 16px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #696969;
		word-spacing: 20px;
		width: 100%;
		height: 40px;
		text-align: center;

	}

	li {
		display: inline-block;
	}

	footer {
		padding-top: 20px;
		clear: both;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;	
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		background-color: #A9A9A9;
		border-top: 9px #4aaaa5 solid;
	}

		.img-containers {
		    display: block;
		    padding: 10px
		}

		.gallery-img {
			width: 100%;
		}

		#img-box {
			padding-left: 5px;
		}

		#inner-img-box {
			width: 500px;
			margin: auto;
		}

		.img-labels {
			position: absolute;
			margin-top: 250px;
			height: 55px;
			width: 480px;
			background-color: #4aaaa5;
			padding-top: 20px;
			font-size: 35px;
			font-family: 'Georgia', Times, Times New Roman, serif;
			color: #ffffff;
			text-align: center;
		}


  }